#! /usr/bin/make -f

QMAKE=qmake-qt4
QCONF=qt-qconf

DH_VERBOSE = 1

NUMJOBS = 1
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif
CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
 CFLAGS += -O0
else
 CFLAGS += -O2
endif

CONFIGURE_FLAGS = --prefix=/usr

CONFIGURE_FLAGS += --disable-bundled-qca

CONFIGURE_DEBUG= --debug --no-separate-debug-info

%:
	dh $@

override_dh_auto_configure:
	$(QCONF)
	./configure $(CONFIGURE_FLAGS) $(CONFIGURE_DEBUG)

override_dh_auto_build:
	dh_auto_build --parallel
	for i in $(CURDIR)/src/plugins/generic/*plugin ; do \
		file=`basename $$i`; \
		cd $$i; \
		case "$$file" in \
			psimediaplugin) \
				$(QCONF) && ./configure $(CONFIGURE_DEBUG) && $(MAKE) -j$(NUMJOBS) && cp ./gstprovider/*.so ./ \
			;; \
			*) \
				$(QMAKE) && $(MAKE) -j$(NUMJOBS) \
			;; \
		esac; \
		#strip ./*.so; \
	done

override_dh_auto_clean:
	dh_clean
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f config.sub config.guess src/Makefile Makefile libpsi/psiwidgets/Makefile src/psi conf.pri extra.pri conf.log src/config.h src/.qmake.internal.cache psi configure.exe src/plugins/generic/psimediaplugin/conf.pri
	rm -rf iris/lib iris/conf.pri src/.moc src/.obj src/.rcc src/.ui .qconftemp src/plugins/generic/psimediaplugin/gstprovider/gstelements/static/lib
	for i in $(CURDIR)/src/plugins/generic/*plugin ; do \
		file=`basename $$i`; \
		cd $$i; \
		[ ! -f Makefile ] || $(MAKE) distclean; \
		case "$$file" in \
			psimediaplugin) \
				rm -rf libgstprovider.so configure* *.log gstprovider/gstelements/static/lib/libgstelements_static.a gstprovider/libgstprovider.so.debug \
				rm -rf gstprovider/gstelements/static/lib/libgstelements_static.prl \
			;; \
		esac; \
	done

override_dh_auto_install:
	$(MAKE) install INSTALL_ROOT=$(CURDIR)/debian/tmp
	rm -f $(CURDIR)/debian/tmp/usr/share/psi/COPYING
	rm -f $(CURDIR)/debian/tmp/usr/share/psi/README
	$(MAKE) clean
	./configure $(CONFIGURE_FLAGS) $(CONFIGURE_DEBUG) --enable-webkit
	$(MAKE) -j$(NUMJOBS)
	cp $(CURDIR)/src/psi $(CURDIR)/debian/tmp/usr/bin/psi.webkit

override_dh_strip:
	dh_strip -ppsi-plus --dbg-package=psi-plus-dbg
	dh_strip -ppsi-plus-webkit --dbg-package=psi-plus-webkit-dbg
	dh_strip -ppsi-plus-plugins --dbg-package=psi-plus-plugins-dbg
	dh_strip -ppsi-plus-plugins-psimedia --dbg-package=psi-plus-plugins-psimedia-dbg
	dh_strip --remaining-packages

